@model Restaurante.UI.ViewModel.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container" style="margin-top:40px">
    <div class="row">
        <div class="col-md-6 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong> Controle de Acesso </strong>
                </div>
                <div>
                    @Html.ValidationSummary(true)
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm(null, null, FormMethod.Post))
                    {
                        <fieldset>
                            <div class="row text-center" style="margin: 15px;">
                                <div class="center-block">
                                    <img class="profile-img"
                                         src="https://danieldossantos.files.wordpress.com/2012/09/cara-crachc3a1.jpg?sz=120" alt="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-user"></i>
                                            </span>
                                            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-lock"></i>
                                            </span>
                                            @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-lg btn-primary btn-block" value=" Entrar ">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    }
                </div>
                <div class="panel-footer ">
                    Não tenho uma conta ainda! <a href="https://medium.com/wiliambuzatto/asp-net-indentity-limpo-e-despido-mvc-e9e8f73c0d25" onClick=""> Entrar </a>
                </div>
            </div>
        </div>
    </div>
</div>


