<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Tarefas dos Garçons</li>
        @{
            var garcons = ViewBag.Garcons as Dictionary<int, string>;
        }
        @foreach (KeyValuePair<int, string> item in garcons.OrderBy(k => k.Key))
        {
            <li>@Html.ActionLink(item.Value, "Tarefa", "Garcom", new { id = item.Key.ToString() }, null)</li>
        }
        <li class="nav-header">Mesas Abertas</li>
        @{
            var linkMesas = ViewBag.ActiveTables as Dictionary<int, int>;
        }
        @foreach (KeyValuePair<int, int> item in linkMesas.OrderBy(k => k.Key))
        {
            @Html.ActionLink(item.Value.ToString(), "Status", "Mesa", new { id = item.Key.ToString() }, new { @class= "btn btn-lg btn-default active" })
        }
    </ul>
</div><!--/.well -->
